{
  "openapi": "3.1.0",
  "info": {
    "title": "Notion API",
    "version": "1"
  },
  "servers": [
    {
      "url": "https://api.notion.com"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      },
      "basicAuth": {
        "type": "http",
        "scheme": "basic"
      }
    },
    "parameters": {},
    "schemas": {}
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/users/{user_id}": {
      "get": {
        "summary": "Retrieve a user",
        "description": "Retrieve a Notion user by their ID. Returns user details including name, email, and avatar.",
        "operationId": "get-user",
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"object\": \"user\",\n  \"id\": \"d40e767c-d7af-4b18-a86d-55c61f1e39a4\",\n  \"type\": \"person\",\n\t\"person\": {\n\t\t\"email\": \"avo@example.org\",\n\t},\n  \"name\": \"Avocado Lovelace\",\n  \"avatar_url\": \"https://secure.notion-static.com/e6a352a8-8381-44d0-a1dc-9ed80e62b53d.jpg\",\n}"
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/v1/users": {
      "get": {
        "summary": "List all users",
        "operationId": "get-users",
        "parameters": [
          {
            "name": "start_cursor",
            "in": "query",
            "description": "If supplied, this endpoint will return a page of results starting after the cursor provided. If not supplied, this endpoint will return the first page of results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "The number of items from the full list desired in the response. Maximum: 100",
            "schema": {
              "type": "integer",
              "default": 100
            }
          }
        ],
        "responses": {
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false,
        "description": "List all users in the Notion workspace. Returns paginated list of users including bots and people."
      }
    },
    "/v1/users/me": {
      "get": {
        "summary": "Retrieve your token's bot user",
        "description": "Retrieve the bot user associated with the current API token. Useful for getting the bot's identity and owner information.",
        "operationId": "get-self",
        "parameters": [],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"object\": \"user\",\n  \"id\": \"16d84278-ab0e-484c-9bdd-b35da3bd8905\",\n  \"name\": \"pied piper\",\n  \"avatar_url\": null,\n  \"type\": \"bot\",\n  \"bot\": {\n    \"owner\": {\n      \"type\": \"user\",\n      \"user\": {\n        \"object\": \"user\",\n        \"id\": \"5389a034-eb5c-47b5-8a9e-f79c99ef166c\",\n        \"name\": \"christine makenotion\",\n        \"avatar_url\": null,\n        \"type\": \"person\",\n        \"person\": {\n          \"email\": \"christine@makenotion.com\"\n        }\n      }\n    }\n  }\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "example": "user"
                    },
                    "id": {
                      "type": "string",
                      "example": "16d84278-ab0e-484c-9bdd-b35da3bd8905"
                    },
                    "name": {
                      "type": "string",
                      "example": "pied piper"
                    },
                    "avatar_url": {},
                    "type": {
                      "type": "string",
                      "example": "bot"
                    },
                    "bot": {
                      "type": "object",
                      "properties": {
                        "owner": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "example": "user"
                            },
                            "user": {
                              "type": "object",
                              "properties": {
                                "object": {
                                  "type": "string",
                                  "example": "user"
                                },
                                "id": {
                                  "type": "string",
                                  "example": "5389a034-eb5c-47b5-8a9e-f79c99ef166c"
                                },
                                "name": {
                                  "type": "string",
                                  "example": "christine makenotion"
                                },
                                "avatar_url": {},
                                "type": {
                                  "type": "string",
                                  "example": "person"
                                },
                                "person": {
                                  "type": "object",
                                  "properties": {
                                    "email": {
                                      "type": "string",
                                      "example": "christine@makenotion.com"
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/v1/databases/{database_id}/query": {
      "post": {
        "summary": "Query a database",
        "description": "Query a Notion database with optional filters and sorts. Returns paginated list of pages (database entries) matching the criteria. Supports filtering by property values and sorting by property.",
        "operationId": "post-database-query",
        "parameters": [
          {
            "name": "database_id",
            "in": "path",
            "description": "Identifier for a Notion database.",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "filter_properties",
            "in": "query",
            "description": "A list of page property value IDs associated with the database. Use this param to limit the response to a specific page property value or values for pages that meet the `filter` criteria.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "filter": {
                    "type": "object",
                    "description": "When supplied, limits which pages are returned based on the [filter conditions](ref:post-database-query-filter).",
                    "or": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "type": "object",
                          "properties": {
                            "property": {
                              "type": "string"
                            },
                            "title": {
                              "type": "object",
                              "properties": {
                                "equals": {
                                  "type": "string"
                                },
                                "does_not_equal": {
                                  "type": "string"
                                },
                                "contains": {
                                  "type": "string"
                                },
                                "does_not_contain": {
                                  "type": "string"
                                },
                                "starts_with": {
                                  "type": "string"
                                },
                                "ends_with": {
                                  "type": "string"
                                }
                              }
                            },
                            "rich_text": {
                              "type": "object",
                              "properties": {
                                "equals": {
                                  "type": "string"
                                },
                                "does_not_equal": {
                                  "type": "string"
                                },
                                "contains": {
                                  "type": "string"
                                },
                                "does_not_contain": {
                                  "type": "string"
                                },
                                "starts_with": {
                                  "type": "string"
                                },
                                "ends_with": {
                                  "type": "string"
                                }
                              }
                            },
                            "url": {
                              "type": "object",
                              "properties": {
                                "equals": {
                                  "type": "string"
                                },
                                "does_not_equal": {
                                  "type": "string"
                                },
                                "contains": {
                                  "type": "string"
                                },
                                "does_not_contain": {
                                  "type": "string"
                                },
                                "starts_with": {
                                  "type": "string"
                                },
                                "ends_with": {
                                  "type": "string"
                                }
                              }
                            },
                            "email": {
                              "type": "object",
                              "properties": {
                                "equals": {
                                  "type": "string"
                                },
                                "does_not_equal": {
                                  "type": "string"
                                },
                                "contains": {
                                  "type": "string"
                                },
                                "does_not_contain": {
                                  "type": "string"
                                },
                                "starts_with": {
                                  "type": "string"
                                },
                                "ends_with": {
                                  "type": "string"
                                }
                              }
                            },
                            "phone_number": {
                              "type": "object",
                              "properties": {
                                "equals": {
                                  "type": "string"
                                },
                                "does_not_equal": {
                                  "type": "string"
                                },
                                "contains": {
                                  "type": "string"
                                },
                                "does_not_contain": {
                                  "type": "string"
                                },
                                "starts_with": {
                                  "type": "string"
                                },
                                "ends_with": {
                                  "type": "string"
                                }
                              }
                            },
                            "number": {
                              "type": "object",
                              "properties": {
                                "equals": {
                                  "type": "number"
                                },
                                "does_not_equal": {
                                  "type": "number"
                                },
                                "contains": {
                                  "type": "number"
                                },
                                "does_not_contain": {
                                  "type": "number"
                                },
                                "starts_with": {
                                  "type": "number"
                                },
                                "ends_with": {
                                  "type": "number"
                                }
                              }
                            },
                            "checkbox": {
                              "type": "object",
                              "properties": {
                                "equals": {
                                  "type": "boolean"
                                },
                                "does_not_equal": {
                                  "type": "boolean"
                                }
                              }
                            },
                            "select": {
                              "type": "object",
                              "properties": {
                                "equals": {
                                  "type": "string"
                                },
                                "does_not_equal": {
                                  "type": "string"
                                }
                              }
                            },
                            "multi_select": {
                              "type": "object",
                              "properties": {
                                "contains": {
                                  "type": "string"
                                },
                                "does_not_contain": {
                                  "type": "string"
                                }
                              }
                            },
                            "status": {
                              "type": "object",
                              "properties": {
                                "equals": {
                                  "type": "string"
                                },
                                "does_not_equal": {
                                  "type": "string"
                                }
                              }
                            },
                            "date": {
                              "type": "object",
                              "properties": {
                                "equals": {
                                  "type": "string",
                                  "format": "date"
                                },
                                "before": {
                                  "type": "string",
                                  "format": "date"
                                },
                                "after": {
                                  "type": "string",
                                  "format": "date"
                                },
                                "on_or_before": {
                                  "type": "string",
                                  "format": "date"
                                },
                                "on_or_after": {
                                  "type": "string",
                                  "format": "date"
                                }
                              }
                            },
                            "created_time": {
                              "type": "object",
                              "properties": {
                                "equals": {
                                  "type": "string",
                                  "format": "date"
                                },
                                "before": {
                                  "type": "string",
                                  "format": "date"
                                },
                                "after": {
                                  "type": "string",
                                  "format": "date"
                                },
                                "on_or_before": {
                                  "type": "string",
                                  "format": "date"
                                },
                                "on_or_after": {
                                  "type": "string",
                                  "format": "date"
                                }
                              }
                            },
                            "last_edited_time": {
                              "type": "object",
                              "properties": {
                                "equals": {
                                  "type": "string",
                                  "format": "date"
                                },
                                "before": {
                                  "type": "string",
                                  "format": "date"
                                },
                                "after": {
                                  "type": "string",
                                  "format": "date"
                                },
                                "on_or_before": {
                                  "type": "string",
                                  "format": "date"
                                },
                                "on_or_after": {
                                  "type": "string",
                                  "format": "date"
                                }
                              }
                            }
                          }
                        }
                      },
                      "maxItems": 100
                    },
                    "and": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "type": "object",
                          "properties": {
                            "property": {
                              "type": "string"
                            },
                            "title": {
                              "type": "object",
                              "properties": {
                                "equals": {
                                  "type": "string"
                                },
                                "does_not_equal": {
                                  "type": "string"
                                },
                                "contains": {
                                  "type": "string"
                                },
                                "does_not_contain": {
                                  "type": "string"
                                },
                                "starts_with": {
                                  "type": "string"
                                },
                                "ends_with": {
                                  "type": "string"
                                }
                              }
                            },
                            "rich_text": {
                              "type": "object",
                              "properties": {
                                "equals": {
                                  "type": "string"
                                },
                                "does_not_equal": {
                                  "type": "string"
                                },
                                "contains": {
                                  "type": "string"
                                },
                                "does_not_contain": {
                                  "type": "string"
                                },
                                "starts_with": {
                                  "type": "string"
                                },
                                "ends_with": {
                                  "type": "string"
                                }
                              }
                            },
                            "url": {
                              "type": "object",
                              "properties": {
                                "equals": {
                                  "type": "string"
                                },
                                "does_not_equal": {
                                  "type": "string"
                                },
                                "contains": {
                                  "type": "string"
                                },
                                "does_not_contain": {
                                  "type": "string"
                                },
                                "starts_with": {
                                  "type": "string"
                                },
                                "ends_with": {
                                  "type": "string"
                                }
                              }
                            },
                            "email": {
                              "type": "object",
                              "properties": {
                                "equals": {
                                  "type": "string"
                                },
                                "does_not_equal": {
                                  "type": "string"
                                },
                                "contains": {
                                  "type": "string"
                                },
                                "does_not_contain": {
                                  "type": "string"
                                },
                                "starts_with": {
                                  "type": "string"
                                },
                                "ends_with": {
                                  "type": "string"
                                }
                              }
                            },
                            "phone_number": {
                              "type": "object",
                              "properties": {
                                "equals": {
                                  "type": "string"
                                },
                                "does_not_equal": {
                                  "type": "string"
                                },
                                "contains": {
                                  "type": "string"
                                },
                                "does_not_contain": {
                                  "type": "string"
                                },
                                "starts_with": {
                                  "type": "string"
                                },
                                "ends_with": {
                                  "type": "string"
                                }
                              }
                            },
                            "number": {
                              "type": "object",
                              "properties": {
                                "equals": {
                                  "type": "number"
                                },
                                "does_not_equal": {
                                  "type": "number"
                                },
                                "contains": {
                                  "type": "number"
                                },
                                "does_not_contain": {
                                  "type": "number"
                                },
                                "starts_with": {
                                  "type": "number"
                                },
                                "ends_with": {
                                  "type": "number"
                                }
                              }
                            },
                            "checkbox": {
                              "type": "object",
                              "properties": {
                                "equals": {
                                  "type": "boolean"
                                },
                                "does_not_equal": {
                                  "type": "boolean"
                                }
                              }
                            },
                            "select": {
                              "type": "object",
                              "properties": {
                                "equals": {
                                  "type": "string"
                                },
                                "does_not_equal": {
                                  "type": "string"
                                }
                              }
                            },
                            "multi_select": {
                              "type": "object",
                              "properties": {
                                "contains": {
                                  "type": "string"
                                },
                                "does_not_contain": {
                                  "type": "string"
                                }
                              }
                            },
                            "status": {
                              "type": "object",
                              "properties": {
                                "equals": {
                                  "type": "string"
                                },
                                "does_not_equal": {
                                  "type": "string"
                                }
                              }
                            },
                            "date": {
                              "type": "object",
                              "properties": {
                                "equals": {
                                  "type": "string",
                                  "format": "date"
                                },
                                "before": {
                                  "type": "string",
                                  "format": "date"
                                },
                                "after": {
                                  "type": "string",
                                  "format": "date"
                                },
                                "on_or_before": {
                                  "type": "string",
                                  "format": "date"
                                },
                                "on_or_after": {
                                  "type": "string",
                                  "format": "date"
                                }
                              }
                            },
                            "created_time": {
                              "type": "object",
                              "properties": {
                                "equals": {
                                  "type": "string",
                                  "format": "date"
                                },
                                "before": {
                                  "type": "string",
                                  "format": "date"
                                },
                                "after": {
                                  "type": "string",
                                  "format": "date"
                                },
                                "on_or_before": {
                                  "type": "string",
                                  "format": "date"
                                },
                                "on_or_after": {
                                  "type": "string",
                                  "format": "date"
                                }
                              }
                            },
                            "last_edited_time": {
                              "type": "object",
                              "properties": {
                                "equals": {
                                  "type": "string",
                                  "format": "date"
                                },
                                "before": {
                                  "type": "string",
                                  "format": "date"
                                },
                                "after": {
                                  "type": "string",
                                  "format": "date"
                                },
                                "on_or_before": {
                                  "type": "string",
                                  "format": "date"
                                },
                                "on_or_after": {
                                  "type": "string",
                                  "format": "date"
                                }
                              }
                            }
                          }
                        }
                      },
                      "maxItems": 100
                    }
                  },
                  "sorts": {
                    "type": "array",
                    "description": "When supplied, orders the results based on the provided [sort criteria](ref:post-database-query-sort).",
                    "items": {
                      "type": "object",
                      "required": [
                        "property",
                        "direction"
                      ],
                      "properties": {
                        "property": {
                          "type": "string"
                        },
                        "direction": {
                          "enum": [
                            "ascending",
                            "descending"
                          ],
                          "type": "string"
                        }
                      }
                    }
                  },
                  "start_cursor": {
                    "type": "string",
                    "description": "When supplied, returns a page of results starting after the cursor provided. If not supplied, this endpoint will return the first page of results."
                  },
                  "page_size": {
                    "type": "integer",
                    "description": "The number of items from the full list desired in the response. Maximum: 100",
                    "default": 100
                  },
                  "archived": {
                    "type": "boolean"
                  },
                  "in_trash": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {},
        "deprecated": false,
        "security": []
      }
    },
    "/v1/search": {
      "post": {
        "summary": "Search by title",
        "description": "Search for pages and databases by title across the entire Notion workspace. Returns matching pages and databases sorted by relevance or last edited time.",
        "operationId": "post-search",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "query": {
                    "type": "string",
                    "description": "The text that the API compares page and database titles against."
                  },
                  "sort": {
                    "type": "object",
                    "description": "A set of criteria, `direction` and `timestamp` keys, that orders the results. The **only** supported timestamp value is `\"last_edited_time\"`. Supported `direction` values are `\"ascending\"` and `\"descending\"`. If `sort` is not provided, then the most recently edited results are returned first.",
                    "properties": {
                      "direction": {
                        "type": "string",
                        "description": "The direction to sort. Possible values include `ascending` and `descending`."
                      },
                      "timestamp": {
                        "type": "string",
                        "description": "The name of the timestamp to sort against. Possible values include `last_edited_time`."
                      }
                    }
                  },
                  "filter": {
                    "type": "object",
                    "description": "A set of criteria, `value` and `property` keys, that limits the results to either only pages or only databases. Possible `value` values are `\"page\"` or `\"database\"`. The only supported `property` value is `\"object\"`.",
                    "properties": {
                      "value": {
                        "type": "string",
                        "description": "The value of the property to filter the results by.  Possible values for object type include `page` or `database`.  **Limitation**: Currently the only filter allowed is `object` which will filter by type of object (either `page` or `database`)"
                      },
                      "property": {
                        "type": "string",
                        "description": "The name of the property to filter by. Currently the only property you can filter by is the object type.  Possible values include `object`.   Limitation: Currently the only filter allowed is `object` which will filter by type of object (either `page` or `database`)"
                      }
                    }
                  },
                  "start_cursor": {
                    "type": "string",
                    "description": "A `cursor` value returned in a previous response that If supplied, limits the response to results starting after the `cursor`. If not supplied, then the first page of results is returned. Refer to [pagination](https://developers.notion.com/reference/intro#pagination) for more details."
                  },
                  "page_size": {
                    "type": "integer",
                    "description": "The number of items from the full list to include in the response. Maximum: `100`.",
                    "default": 100,
                    "format": "int32"
                  }
                }
              }
            }
          }
        },
        "responses": {},
        "deprecated": false,
        "security": []
      }
    },
    "/v1/blocks/{block_id}/children": {
      "get": {
        "summary": "Retrieve block children",
        "description": "Retrieve the children blocks of a block or page. Returns paginated list of child blocks. Use block_id or page_id to get contents.",
        "operationId": "get-block-children",
        "parameters": [
          {
            "name": "block_id",
            "in": "path",
            "description": "Identifier for a [block](ref:block)",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "start_cursor",
            "in": "query",
            "description": "If supplied, this endpoint will return a page of results starting after the cursor provided. If not supplied, this endpoint will return the first page of results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "The number of items from the full list desired in the response. Maximum: 100",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 100
            }
          }
        ],
        "responses": {},
        "deprecated": false,
        "security": []
      },
      "patch": {
        "summary": "Append block children",
        "description": "Append new blocks as children to a parent block or page. Supports 20+ block types including paragraphs, headings, lists, code, tables, images, and more. Use this to add content to Notion pages.",
        "operationId": "patch-block-children",
        "parameters": [
          {
            "name": "block_id",
            "in": "path",
            "description": "Identifier for a [block](ref:block). Also accepts a [page](ref:page) ID.",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "children"
                ],
                "properties": {
                  "children": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "paragraph": {
                          "type": "object",
                          "properties": {
                            "rich_text": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "text": {
                                    "type": "object",
                                    "properties": {
                                      "content": {
                                        "type": "string"
                                      },
                                      "link": {
                                        "type": [
                                          "object",
                                          "null"
                                        ],
                                        "properties": {
                                          "url": {
                                            "type": "string"
                                          }
                                        },
                                        "required": [
                                          "url"
                                        ]
                                      }
                                    },
                                    "additionalProperties": false,
                                    "required": [
                                      "content"
                                    ]
                                  },
                                  "type": {
                                    "enum": [
                                      "text"
                                    ],
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false,
                                "required": [
                                  "text"
                                ]
                              },
                              "maxItems": 100
                            }
                          },
                          "additionalProperties": false,
                          "required": [
                            "rich_text"
                          ]
                        },
                        "bulleted_list_item": {
                          "type": "object",
                          "properties": {
                            "rich_text": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "text": {
                                    "type": "object",
                                    "properties": {
                                      "content": {
                                        "type": "string"
                                      },
                                      "link": {
                                        "type": [
                                          "object",
                                          "null"
                                        ],
                                        "properties": {
                                          "url": {
                                            "type": "string"
                                          }
                                        },
                                        "required": [
                                          "url"
                                        ]
                                      }
                                    },
                                    "additionalProperties": false,
                                    "required": [
                                      "content"
                                    ]
                                  },
                                  "type": {
                                    "enum": [
                                      "text"
                                    ],
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false,
                                "required": [
                                  "text"
                                ]
                              },
                              "maxItems": 100
                            }
                          },
                          "additionalProperties": false,
                          "required": [
                            "rich_text"
                          ]
                        },
                        "type": {
                          "enum": [
                            "paragraph",
                            "bulleted_list_item",
                            "numbered_list_item",
                            "heading_1",
                            "heading_2",
                            "heading_3",
                            "code",
                            "quote",
                            "callout",
                            "divider",
                            "toggle",
                            "to_do",
                            "table",
                            "table_row",
                            "image",
                            "video",
                            "file",
                            "pdf",
                            "embed",
                            "bookmark"
                          ],
                          "type": "string"
                        },
                        "numbered_list_item": {
                          "type": "object",
                          "properties": {
                            "rich_text": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "text": {
                                    "type": "object",
                                    "properties": {
                                      "content": {
                                        "type": "string"
                                      },
                                      "link": {
                                        "type": [
                                          "object",
                                          "null"
                                        ],
                                        "properties": {
                                          "url": {
                                            "type": "string"
                                          }
                                        }
                                      }
                                    },
                                    "additionalProperties": false,
                                    "required": [
                                      "content"
                                    ]
                                  },
                                  "type": {
                                    "enum": [
                                      "text"
                                    ],
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false,
                                "required": [
                                  "text"
                                ]
                              },
                              "maxItems": 100
                            }
                          },
                          "additionalProperties": false,
                          "required": [
                            "rich_text"
                          ]
                        },
                        "heading_1": {
                          "type": "object",
                          "properties": {
                            "rich_text": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "text": {
                                    "type": "object",
                                    "properties": {
                                      "content": {
                                        "type": "string"
                                      },
                                      "link": {
                                        "type": [
                                          "object",
                                          "null"
                                        ],
                                        "properties": {
                                          "url": {
                                            "type": "string"
                                          }
                                        }
                                      }
                                    },
                                    "additionalProperties": false,
                                    "required": [
                                      "content"
                                    ]
                                  },
                                  "type": {
                                    "enum": [
                                      "text"
                                    ],
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false,
                                "required": [
                                  "text"
                                ]
                              },
                              "maxItems": 100
                            },
                            "is_toggleable": {
                              "type": "boolean",
                              "default": false
                            }
                          },
                          "additionalProperties": false,
                          "required": [
                            "rich_text"
                          ]
                        },
                        "heading_2": {
                          "type": "object",
                          "properties": {
                            "rich_text": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "text": {
                                    "type": "object",
                                    "properties": {
                                      "content": {
                                        "type": "string"
                                      },
                                      "link": {
                                        "type": [
                                          "object",
                                          "null"
                                        ],
                                        "properties": {
                                          "url": {
                                            "type": "string"
                                          }
                                        }
                                      }
                                    },
                                    "additionalProperties": false,
                                    "required": [
                                      "content"
                                    ]
                                  },
                                  "type": {
                                    "enum": [
                                      "text"
                                    ],
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false,
                                "required": [
                                  "text"
                                ]
                              },
                              "maxItems": 100
                            },
                            "is_toggleable": {
                              "type": "boolean",
                              "default": false
                            }
                          },
                          "additionalProperties": false,
                          "required": [
                            "rich_text"
                          ]
                        },
                        "heading_3": {
                          "type": "object",
                          "properties": {
                            "rich_text": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "text": {
                                    "type": "object",
                                    "properties": {
                                      "content": {
                                        "type": "string"
                                      },
                                      "link": {
                                        "type": [
                                          "object",
                                          "null"
                                        ],
                                        "properties": {
                                          "url": {
                                            "type": "string"
                                          }
                                        }
                                      }
                                    },
                                    "additionalProperties": false,
                                    "required": [
                                      "content"
                                    ]
                                  },
                                  "type": {
                                    "enum": [
                                      "text"
                                    ],
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false,
                                "required": [
                                  "text"
                                ]
                              },
                              "maxItems": 100
                            },
                            "is_toggleable": {
                              "type": "boolean",
                              "default": false
                            }
                          },
                          "additionalProperties": false,
                          "required": [
                            "rich_text"
                          ]
                        },
                        "code": {
                          "type": "object",
                          "properties": {
                            "rich_text": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "text": {
                                    "type": "object",
                                    "properties": {
                                      "content": {
                                        "type": "string"
                                      }
                                    },
                                    "additionalProperties": false,
                                    "required": [
                                      "content"
                                    ]
                                  },
                                  "type": {
                                    "enum": [
                                      "text"
                                    ],
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false,
                                "required": [
                                  "text"
                                ]
                              },
                              "maxItems": 100
                            },
                            "language": {
                              "type": "string",
                              "description": "Programming language for syntax highlighting",
                              "enum": [
                                "abap",
                                "arduino",
                                "bash",
                                "basic",
                                "c",
                                "clojure",
                                "coffeescript",
                                "c++",
                                "c#",
                                "css",
                                "dart",
                                "diff",
                                "docker",
                                "elixir",
                                "elm",
                                "erlang",
                                "flow",
                                "fortran",
                                "f#",
                                "gherkin",
                                "glsl",
                                "go",
                                "graphql",
                                "groovy",
                                "haskell",
                                "html",
                                "java",
                                "javascript",
                                "json",
                                "julia",
                                "kotlin",
                                "latex",
                                "less",
                                "lisp",
                                "livescript",
                                "lua",
                                "makefile",
                                "markdown",
                                "markup",
                                "matlab",
                                "mermaid",
                                "nix",
                                "objective-c",
                                "ocaml",
                                "pascal",
                                "perl",
                                "php",
                                "plain text",
                                "powershell",
                                "prolog",
                                "protobuf",
                                "python",
                                "r",
                                "reason",
                                "ruby",
                                "rust",
                                "sass",
                                "scala",
                                "scheme",
                                "scss",
                                "shell",
                                "sql",
                                "swift",
                                "typescript",
                                "vb.net",
                                "verilog",
                                "vhdl",
                                "visual basic",
                                "webassembly",
                                "xml",
                                "yaml"
                              ]
                            },
                            "caption": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "text": {
                                    "type": "object",
                                    "properties": {
                                      "content": {
                                        "type": "string"
                                      }
                                    },
                                    "additionalProperties": false,
                                    "required": [
                                      "content"
                                    ]
                                  },
                                  "type": {
                                    "enum": [
                                      "text"
                                    ],
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false,
                                "required": [
                                  "text"
                                ]
                              }
                            }
                          },
                          "additionalProperties": false,
                          "required": [
                            "rich_text",
                            "language"
                          ]
                        },
                        "quote": {
                          "type": "object",
                          "properties": {
                            "rich_text": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "text": {
                                    "type": "object",
                                    "properties": {
                                      "content": {
                                        "type": "string"
                                      },
                                      "link": {
                                        "type": [
                                          "object",
                                          "null"
                                        ],
                                        "properties": {
                                          "url": {
                                            "type": "string"
                                          }
                                        }
                                      }
                                    },
                                    "additionalProperties": false,
                                    "required": [
                                      "content"
                                    ]
                                  },
                                  "type": {
                                    "enum": [
                                      "text"
                                    ],
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false,
                                "required": [
                                  "text"
                                ]
                              },
                              "maxItems": 100
                            },
                            "color": {
                              "type": "string",
                              "enum": [
                                "default",
                                "gray",
                                "brown",
                                "orange",
                                "yellow",
                                "green",
                                "blue",
                                "purple",
                                "pink",
                                "red",
                                "gray_background",
                                "brown_background",
                                "orange_background",
                                "yellow_background",
                                "green_background",
                                "blue_background",
                                "purple_background",
                                "pink_background",
                                "red_background"
                              ],
                              "default": "default"
                            }
                          },
                          "additionalProperties": false,
                          "required": [
                            "rich_text"
                          ]
                        },
                        "callout": {
                          "type": "object",
                          "properties": {
                            "rich_text": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "text": {
                                    "type": "object",
                                    "properties": {
                                      "content": {
                                        "type": "string"
                                      },
                                      "link": {
                                        "type": [
                                          "object",
                                          "null"
                                        ],
                                        "properties": {
                                          "url": {
                                            "type": "string"
                                          }
                                        }
                                      }
                                    },
                                    "additionalProperties": false,
                                    "required": [
                                      "content"
                                    ]
                                  },
                                  "type": {
                                    "enum": [
                                      "text"
                                    ],
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false,
                                "required": [
                                  "text"
                                ]
                              },
                              "maxItems": 100
                            },
                            "icon": {
                              "type": "object",
                              "properties": {
                                "emoji": {
                                  "type": "string",
                                  "description": "Emoji character for the callout icon"
                                }
                              },
                              "additionalProperties": false
                            },
                            "color": {
                              "type": "string",
                              "enum": [
                                "default",
                                "gray",
                                "brown",
                                "orange",
                                "yellow",
                                "green",
                                "blue",
                                "purple",
                                "pink",
                                "red",
                                "gray_background",
                                "brown_background",
                                "orange_background",
                                "yellow_background",
                                "green_background",
                                "blue_background",
                                "purple_background",
                                "pink_background",
                                "red_background"
                              ],
                              "default": "default"
                            }
                          },
                          "additionalProperties": false,
                          "required": [
                            "rich_text"
                          ]
                        },
                        "divider": {
                          "type": "object",
                          "properties": {},
                          "additionalProperties": false
                        },
                        "toggle": {
                          "type": "object",
                          "properties": {
                            "rich_text": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "text": {
                                    "type": "object",
                                    "properties": {
                                      "content": {
                                        "type": "string"
                                      },
                                      "link": {
                                        "type": [
                                          "object",
                                          "null"
                                        ],
                                        "properties": {
                                          "url": {
                                            "type": "string"
                                          }
                                        }
                                      }
                                    },
                                    "additionalProperties": false,
                                    "required": [
                                      "content"
                                    ]
                                  },
                                  "type": {
                                    "enum": [
                                      "text"
                                    ],
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false,
                                "required": [
                                  "text"
                                ]
                              },
                              "maxItems": 100
                            },
                            "color": {
                              "type": "string",
                              "enum": [
                                "default",
                                "gray",
                                "brown",
                                "orange",
                                "yellow",
                                "green",
                                "blue",
                                "purple",
                                "pink",
                                "red",
                                "gray_background",
                                "brown_background",
                                "orange_background",
                                "yellow_background",
                                "green_background",
                                "blue_background",
                                "purple_background",
                                "pink_background",
                                "red_background"
                              ],
                              "default": "default"
                            }
                          },
                          "additionalProperties": false,
                          "required": [
                            "rich_text"
                          ]
                        },
                        "to_do": {
                          "type": "object",
                          "properties": {
                            "rich_text": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "text": {
                                    "type": "object",
                                    "properties": {
                                      "content": {
                                        "type": "string"
                                      },
                                      "link": {
                                        "type": [
                                          "object",
                                          "null"
                                        ],
                                        "properties": {
                                          "url": {
                                            "type": "string"
                                          }
                                        }
                                      }
                                    },
                                    "additionalProperties": false,
                                    "required": [
                                      "content"
                                    ]
                                  },
                                  "type": {
                                    "enum": [
                                      "text"
                                    ],
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false,
                                "required": [
                                  "text"
                                ]
                              },
                              "maxItems": 100
                            },
                            "checked": {
                              "type": "boolean",
                              "default": false,
                              "description": "Whether the to-do is checked (completed) or not"
                            },
                            "color": {
                              "type": "string",
                              "enum": [
                                "default",
                                "gray",
                                "brown",
                                "orange",
                                "yellow",
                                "green",
                                "blue",
                                "purple",
                                "pink",
                                "red",
                                "gray_background",
                                "brown_background",
                                "orange_background",
                                "yellow_background",
                                "green_background",
                                "blue_background",
                                "purple_background",
                                "pink_background",
                                "red_background"
                              ],
                              "default": "default"
                            }
                          },
                          "additionalProperties": false,
                          "required": [
                            "rich_text"
                          ]
                        },
                        "table": {
                          "type": "object",
                          "properties": {
                            "table_width": {
                              "type": "integer",
                              "description": "Number of columns in the table. Can only be set on creation.",
                              "minimum": 1
                            },
                            "has_column_header": {
                              "type": "boolean",
                              "default": false,
                              "description": "Whether the first row is a header row"
                            },
                            "has_row_header": {
                              "type": "boolean",
                              "default": false,
                              "description": "Whether the first column is a header column"
                            },
                            "children": {
                              "type": "array",
                              "description": "Array of table_row blocks. Must have at least one row with cells matching table_width.",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "type": {
                                    "enum": [
                                      "table_row"
                                    ],
                                    "type": "string"
                                  },
                                  "table_row": {
                                    "type": "object",
                                    "properties": {
                                      "cells": {
                                        "type": "array",
                                        "description": "Array of cells. Each cell is an array of rich text objects.",
                                        "items": {
                                          "type": "array",
                                          "items": {
                                            "type": "object",
                                            "properties": {
                                              "text": {
                                                "type": "object",
                                                "properties": {
                                                  "content": {
                                                    "type": "string"
                                                  },
                                                  "link": {
                                                    "type": [
                                                      "object",
                                                      "null"
                                                    ],
                                                    "properties": {
                                                      "url": {
                                                        "type": "string"
                                                      }
                                                    }
                                                  }
                                                },
                                                "additionalProperties": false,
                                                "required": [
                                                  "content"
                                                ]
                                              },
                                              "type": {
                                                "enum": [
                                                  "text"
                                                ],
                                                "type": "string"
                                              }
                                            },
                                            "additionalProperties": false,
                                            "required": [
                                              "text"
                                            ]
                                          }
                                        }
                                      }
                                    },
                                    "required": [
                                      "cells"
                                    ]
                                  }
                                },
                                "required": [
                                  "type",
                                  "table_row"
                                ]
                              },
                              "minItems": 1
                            }
                          },
                          "additionalProperties": false,
                          "required": [
                            "table_width",
                            "children"
                          ]
                        },
                        "table_row": {
                          "type": "object",
                          "properties": {
                            "cells": {
                              "type": "array",
                              "description": "Array of cells. Each cell is an array of rich text objects. Length must match table_width.",
                              "items": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "text": {
                                      "type": "object",
                                      "properties": {
                                        "content": {
                                          "type": "string"
                                        },
                                        "link": {
                                          "type": [
                                            "object",
                                            "null"
                                          ],
                                          "properties": {
                                            "url": {
                                              "type": "string"
                                            }
                                          }
                                        }
                                      },
                                      "additionalProperties": false,
                                      "required": [
                                        "content"
                                      ]
                                    },
                                    "type": {
                                      "enum": [
                                        "text"
                                      ],
                                      "type": "string"
                                    }
                                  },
                                  "additionalProperties": false,
                                  "required": [
                                    "text"
                                  ]
                                }
                              }
                            }
                          },
                          "additionalProperties": false,
                          "required": [
                            "cells"
                          ]
                        },
                        "image": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "enum": [
                                "external",
                                "file_upload"
                              ],
                              "description": "Must be external for API-created images"
                            },
                            "external": {
                              "type": "object",
                              "properties": {
                                "url": {
                                  "type": "string",
                                  "format": "uri",
                                  "description": "Public URL to the external file"
                                }
                              },
                              "additionalProperties": false,
                              "required": [
                                "url"
                              ]
                            },
                            "caption": {
                              "type": "array",
                              "description": "Optional caption for the media",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "text": {
                                    "type": "object",
                                    "properties": {
                                      "content": {
                                        "type": "string"
                                      },
                                      "link": {
                                        "type": [
                                          "object",
                                          "null"
                                        ],
                                        "properties": {
                                          "url": {
                                            "type": "string"
                                          }
                                        }
                                      }
                                    },
                                    "additionalProperties": false,
                                    "required": [
                                      "content"
                                    ]
                                  },
                                  "type": {
                                    "enum": [
                                      "text"
                                    ],
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false,
                                "required": [
                                  "text"
                                ]
                              }
                            },
                            "file_upload": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string",
                                  "format": "uuid",
                                  "description": "File upload ID from create-file-upload"
                                }
                              },
                              "required": [
                                "id"
                              ]
                            }
                          },
                          "additionalProperties": false,
                          "required": [
                            "type",
                            "external"
                          ]
                        },
                        "video": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "enum": [
                                "external",
                                "file_upload"
                              ],
                              "description": "Must be external for API-created videos"
                            },
                            "external": {
                              "type": "object",
                              "properties": {
                                "url": {
                                  "type": "string",
                                  "format": "uri",
                                  "description": "Public URL to the external file"
                                }
                              },
                              "additionalProperties": false,
                              "required": [
                                "url"
                              ]
                            },
                            "caption": {
                              "type": "array",
                              "description": "Optional caption for the media",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "text": {
                                    "type": "object",
                                    "properties": {
                                      "content": {
                                        "type": "string"
                                      },
                                      "link": {
                                        "type": [
                                          "object",
                                          "null"
                                        ],
                                        "properties": {
                                          "url": {
                                            "type": "string"
                                          }
                                        }
                                      }
                                    },
                                    "additionalProperties": false,
                                    "required": [
                                      "content"
                                    ]
                                  },
                                  "type": {
                                    "enum": [
                                      "text"
                                    ],
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false,
                                "required": [
                                  "text"
                                ]
                              }
                            },
                            "file_upload": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string",
                                  "format": "uuid",
                                  "description": "File upload ID from create-file-upload"
                                }
                              },
                              "required": [
                                "id"
                              ]
                            }
                          },
                          "additionalProperties": false,
                          "required": [
                            "type",
                            "external"
                          ]
                        },
                        "file": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "enum": [
                                "external",
                                "file_upload"
                              ],
                              "description": "Must be external for API-created files"
                            },
                            "external": {
                              "type": "object",
                              "properties": {
                                "url": {
                                  "type": "string",
                                  "format": "uri",
                                  "description": "Public URL to the external file"
                                }
                              },
                              "additionalProperties": false,
                              "required": [
                                "url"
                              ]
                            },
                            "caption": {
                              "type": "array",
                              "description": "Optional caption for the media",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "text": {
                                    "type": "object",
                                    "properties": {
                                      "content": {
                                        "type": "string"
                                      },
                                      "link": {
                                        "type": [
                                          "object",
                                          "null"
                                        ],
                                        "properties": {
                                          "url": {
                                            "type": "string"
                                          }
                                        }
                                      }
                                    },
                                    "additionalProperties": false,
                                    "required": [
                                      "content"
                                    ]
                                  },
                                  "type": {
                                    "enum": [
                                      "text"
                                    ],
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false,
                                "required": [
                                  "text"
                                ]
                              }
                            },
                            "name": {
                              "type": "string",
                              "description": "Display name for the file"
                            },
                            "file_upload": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string",
                                  "format": "uuid",
                                  "description": "File upload ID from create-file-upload"
                                }
                              },
                              "required": [
                                "id"
                              ]
                            }
                          },
                          "additionalProperties": false,
                          "required": [
                            "type",
                            "external"
                          ]
                        },
                        "pdf": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "enum": [
                                "external",
                                "file_upload"
                              ],
                              "description": "Must be external for API-created PDFs"
                            },
                            "external": {
                              "type": "object",
                              "properties": {
                                "url": {
                                  "type": "string",
                                  "format": "uri",
                                  "description": "Public URL to the external file"
                                }
                              },
                              "additionalProperties": false,
                              "required": [
                                "url"
                              ]
                            },
                            "caption": {
                              "type": "array",
                              "description": "Optional caption for the media",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "text": {
                                    "type": "object",
                                    "properties": {
                                      "content": {
                                        "type": "string"
                                      },
                                      "link": {
                                        "type": [
                                          "object",
                                          "null"
                                        ],
                                        "properties": {
                                          "url": {
                                            "type": "string"
                                          }
                                        }
                                      }
                                    },
                                    "additionalProperties": false,
                                    "required": [
                                      "content"
                                    ]
                                  },
                                  "type": {
                                    "enum": [
                                      "text"
                                    ],
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false,
                                "required": [
                                  "text"
                                ]
                              }
                            },
                            "file_upload": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string",
                                  "format": "uuid",
                                  "description": "File upload ID from create-file-upload"
                                }
                              },
                              "required": [
                                "id"
                              ]
                            }
[...]
